<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<appSettings>
		<!-- 토큰 암호화 등 서버 전용으로 사용하는 RSA 개인키. 키 길이 = 1024 -->
		<add key="ServerEncryptionPrivateKey" value="BwIAAACkAABSU0EyAAQAAAEAAQA7K3f9MgOZJ43LByNmUjOedvEB/wOZpclHmtTwEsj49c2eo1M4uGAl/sBsy0ZE5DbO4rG96aawd+HpaECRnhwQgwZciCytxDV+KO2Bx3OFbPA97Dja6zq9VySH4dwoXiB53wLNmDKKhptjhZESbHQ1cgSQGHQMC5w0UuPmizdIm0nPQfhFx3+N+6YyL9g053cKzi7bzlHEIgQEFCW+m8TzGHz/4P0tqcZxCkIwbTVOFnDm/9jMyu0nVkpMvhDYjspj8okYV6bQI9l/aJgtcf754F6D1dkq6jV+tkNRxVeFr54jMxKJwd5iNgaarI2ioN/1J0pRSit0E62g8wzEREDEcYuz6rsH0qr6VG2FO17loYOpn5iJSIjJvYZo8alscluhyXqJ9OntDAleWLu+m4Qm3P/ThSMCNMKbLfikyBzdQTeFa39ZhTAAaajTIug0dYCUaJoW2G4janEj407WM0e0T7wmJaGdGWtcBGS151F9PWFCqlNGoaUztWu2Xv3LPwRUTh767j2AhgTgXVeCUxdwvRZl+yqVW+N+0zxn6shBO2fCa9v/3T+/QIsN8YVKxQVy/yHIjygKhLXDkJhZbp2EeTOb28uG4PZA5GVl5Gq2z+mIV533uxGQ179T7oeOePsykmFWotCGx/0RS6SIShOvuXPqIK70fxc19N1LNZm1ZuAlhb94nTYMimTNSA3BwlOtvSE5MMuDsyFoqBD/Kw0DaM5Q5+QINp7+4bpSDnokTup2fQECj70oy+DB1rCGPw8=" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
